{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Strive{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <header class="navbar">
    <div class="logo">
      <a href="{% url 'home' %}">Strive</a>
    </div>
    <nav>
      <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="/workouts">My Workouts</a></li>
             <li><a href="{% url 'workout_create' %}">Add a Workout</a></li>

            <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            </li>
          {% else %}
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
      </ul>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <p>© 2025 Strive — Built for Performance & Progress</p>
  </footer>
</body>
</html>
