{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}

<div class="dashboard-container">
  <h1>Welcome, {{ profile.user.username }}!</h1>
  <h3>Level: {{ profile.level }}</h3>

  <div class="progress-wrapper">
    <div class="progress-container">
      <div class="progress-bar" style="width: {{ progress }}%;"></div>
    </div>
    <p class="progress-label">Current XP To Next Level: {{ total_xp }}</p>
  </div>

  <div class="bio-section">
    <h3>Bio</h3>
    <p>{{ profile.bio|default:"No bio yet. Add one!" }}</p>
    <a href="{% url 'edit_bio' %}" class="btn-edit"> Edit Bio</a>
  </div>



  <section class="achievements-section">
    <h2>Achievements</h2>
    <ul class="achievements-list">
      {% for a in achievements %}
        <li>
          <div class="achievement-card">
            <span class="badge-icon">🏅</span>
            <div>
              <h4>{{ a.title }}</h4>
              <p>{{ a.description }}</p>
            </div>
          </div>
        </li>
      {% empty %}
        <li class="no-achievement">No achievements yet. Keep working out!</li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}
