{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="">
    <img src="https://assets-cdn.wellhub.com/images/?su=https://images.partners.gympass.com/image/filename/2802233/lg_eTm9e5nKQNntMmWRPl2foRulpZTsQBu3.jpg"
      alt="Strive Logo" />
    <section class="container">
      <h1 class="hero-title">Strive</h1><br>
      <h1 class="hero-title">Strength in Simplicity</h1>
      <p class="hero-sub">Built for those who chase discipline over comfort</p>
    </section>
  </div>
</section>
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}
</div>
<p class="footer-tagline">No excuses. Just effort.</p>

{% endblock %}